<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>
      Департамент образования и науки города Москвы ГБПОУ МАДК им. А.А.
      Николаева
    </h2>
    <div>
      <h3>Расписание на сегодня</h3>
      <a href="{% url 'student' %}">Расписание студентов</a>
      <br>
      <a href="{% url 'teachers' %}">Расписание преподавателей</a>
    </div>
  </body>
</html>
