{% extends 'base.html' %}
{% load schedule_tags %}
{% load static %}
{% block title %} Расписание студентов {% endblock %}
{% block content %}
<h2>Расписание на сегодня</h2>
<div class="container-fluid tables">
  {% for group in groups %}
  <table class="table-schedule">
    <thead>
      <tr>
        <th colspan="5">{{ group }}</th>
      </tr>
      <tr>
        <tr>
          <th rowspan="2">День <br />недели</th>
          <th rowspan="2">Пара</th>
          <th rowspan="2">Время</th>
          <th colspan="2">Дисциплина</th>
        </tr>
      <tr>
        <th colspan="2">Преподаватель | Ауд.</th>
      </tr>
      </tr>
    </thead>
    <tbody>
      {% for schedule in group.get_schedule_today %} 
      {% if schedule.subgroup != subgroup.ALL %}
      <tr class="contains-td-empty contains-td-empty-1">
      {% else %}
      <tr>
      {% endif %}
        {% if forloop.first %}
        <th rowspan="{% widthratio 2 1 group.get_schedule_today|length %}">
          {{ schedule.get_weekday_display }}
        </th>
        {% endif %}
        {% with schedule|classname as modelclass %}
        {% if modelclass == 'list' %}
            <td>hello</td>
        {% endif %}
        {% endwith %}
        <td rowspan="2">{{ schedule.lesson }}</td>
        <td rowspan="2">{{ schedule.get_timing }}</td>
        <td colspan="2">{{ schedule.subject }}</td>
      </tr>
      <tr>
        <td colspan="2">
          {{ schedule.teacher.get_short_name }} | {{ schedule.classroom }}
        </td>
      </tr>
      {% empty %}
      <tr>
        <td class="no-lessons" colspan="5">Занятий нет</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br />
  {% endfor %}
</div>
{% endblock %}