{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    table{
      border-collapse: collapse;
    }
    td{
      border: 1px solid black;
    }
  </style>
</head>
<body>
  <table>
    <th>
      <tr>
        <td rowspan="2" class="a">Пара</td>
        <td rowspan="2" class="a">Время</td>
        <td>Дисциплина</td>
        <td>Ауд.</td>
      </tr>
      <tr>
        <td colspan="2">Преподаватель</td>
      </tr>
    </th>
    {% for schedule in today_schedule %}
    <tr>
      <td rowspan="2">{{ schedule.position }}</td>
      <td rowspan="2">Время</td>
      <td>{{ schedule.subject }}</td>
      <td>{{ schedule.classroom }}</td>
    </tr>
    <tr>
      <td colspan="2">{{ schedule.teacher }}</td>
    </tr>
    {% endfor %}
  </table>
  <img src="{% static 'schedule/picture.png' %}" alt="image">
</body>
</html>